<h2>Processar Números</h2>

<form (ngSubmit)="enviarNumeros()">
    <input type="number" [(ngModel)]="num1" name="num1" placeholder="Número 1" required>
    <input type="number" [(ngModel)]="num2" name="num2" placeholder="Número 2" required>
    <input type="number" [(ngModel)]="num3" name="num3" placeholder="Número 3" required>
    <button type="submit">Calcular</button>
</form>

<hr>

<h3>Resultados</h3>
<table style="border: 1px solid black; border-collapse: collapse;">
    <thead>
        <tr>
            <th style="border: 1px solid black; padding: 5px;">ID</th>
            <th style="border: 1px solid black; padding: 5px;">Número 1</th>
            <th style="border: 1px solid black; padding: 5px;">Número 2</th>
            <th style="border: 1px solid black; padding: 5px;">Número 3</th>
            <th style="border: 1px solid black; padding: 5px;">Status</th>
            <th style="border: 1px solid black; padding: 5px;">Média</th>
            <th style="border: 1px solid black; padding: 5px;">Mediana</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of processamentos">
            <td style="border: 1px solid black; padding: 5px;">{{ item.id }}</td>
            <td style="border: 1px solid black; padding: 5px;">{{ item.num1 }}</td>
            <td style="border: 1px solid black; padding: 5px;">{{ item.num2 }}</td>
            <td style="border: 1px solid black; padding: 5px;">{{ item.num3 }}</td>
            <td style="border: 1px solid black; padding: 5px;">{{ item.status }}</td>
            <td *ngIf="item.status === 'Concluído'" style="border: 1px solid black; padding: 5px;">{{ item.media }}</td>
            <td *ngIf="item.status === 'Concluído'" style="border: 1px solid black; padding: 5px;">{{ item.mediana }}
            </td>
        </tr>
    </tbody>
</table>